# Prerequisites
*.d
*.rar
# Compiled Object files

*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
node_modules
usersDB.json
Data.txt
Errors.txt
Readble_data.txt
RePlaced-App/assets
/RePlaced-App/android
/RePlaced-App/android
//OCR/Training/Data Acquisition/Data/Screenshots*
/OCR/Training/Data Acquisition/Data/Screenshots/**
\OCR\Training\Data Acquisition\Data\Screenshots\**
/OCR/Training/Data Acquisition/Data/Screenshots/**
/RePlaced-App/.idea
OCR/yolov3.weights
