@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Kanit';
    font-weight: 200;
    max-width: 100%;
}

body{
    margin:0;
}

header {
    color: white;
    background-color: #1c62ca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#headerContainer {
    width: 100%;
    padding: 120px;
    box-sizing: border-box;
}

header #mouseScroll {
    width: 50px;
    margin-bottom: 60px;
}

#titleLogo{
    height: 150px;
    max-width: 90%;
}

#titleLegend {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}

.waveContainer {
    width: 100%;
    height: 100px;
    background-image: url("assets/wave.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.splitContainer {
    width: 90%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;
    margin-top: 110px;
}

.splitContainer img {
    width: calc(100% - 20px);
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px rgba(28, 98, 202, .75);
}

.splitContainer .descriptionTitle {
    font-size: 50px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 20px;
}

.splitContainer .descriptionDesc {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: justify;
    font-weight: 300;
}

.buttonInside {
    display: flex;
    align-items: center;
}

.descButtonBox {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}


.descButton {
    padding: 15px 0px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #1c62ca;
    transition: all .3s ease-in-out;
    font-size: 30px;
    font-family: 'Kanit';
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.descButtonContent {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 20px;
}

.descButton:hover {
    background-color: white;
    border: 2px solid #1c62ca;
    color:#1c62ca;
    cursor:pointer;
}

.descButton img {
    width: 60px;
    padding: 10px;
    box-shadow: none;
    transition: all .0s ease-in-out;
}

.descButton:hover img {
    filter: invert(74%) sepia(100%) saturate(1214%) hue-rotate(197deg) brightness(98%) contrast(95%)
}

.descButtonTitle{
    font-size: 30px;
    line-height: 30px;
}


.descButtonDesc{
    font-size: 20px;
    line-height: 20px;
    font-weight: 200;
}


#actus{
    margin-top: 100px;
    background-color: #D9D9D9;
    color: black;
    padding: 0px 30px;
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 40px;
}

h1{
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    margin: 0;
    margin: 20px;
}

#actus_container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.actu_frame {
    width: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.actu_frame:hover{
    transform: translateY(-10px);
    cursor:pointer;
}

.actu_frame img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.actu_frame h4{
    padding: 15px;
    text-align: left;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
}

#mot_d_excuse{
    font-size: 30px;
    margin-bottom: 50px;
}

.sponsorContainer {
    margin-top: 40px;
    width: 100%;
    padding: 0px 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 60px;
}

.sponsorContainer a {
    width: 100%;
    display: block;
}

.sponsorContainer a img {
    width: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.sponsorContainer a img:hover {
    transform: scale(1.04);
}

#quoteSection {
    padding: 100px;
    box-sizing: border-box;
    width: 100%;
}

#quote {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 0px 100px;
}

#author {
    padding: 0px 100px;
    font-size: 35px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    font-style: italic;
}

@media(max-width: 600px) {
    #headerContainer {
        padding: 40px
    }

    #titleLegend {
        font-size: 25px;
    }

    #titleLogo {
        width: 90%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .splitContainer .descriptionDesc {
        font-size: 22px;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .waveContainer {
        height: 24px;
    }

    .splitContainer {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .splitContainer .descriptionTitle {
        font-size: 35px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .descButton {
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    .descButton img {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .descButtonTitle {
        font-size: 25px;
    }

    .splitContainer {
        display: flex;
        flex-direction: column;
    }

    .splitContainer.reverseResponsive {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .hideResponsive {
        display: none;
    }

    .descButtonBox {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}