@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Kanit';
    font-weight: 200;
    max-width: 100%;
}

body{
    margin:0;
}

header {
    color: white;
    background-color: #1c62ca;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

#headerContainer {
    width: 100%;
    padding: 120px;
    box-sizing: border-box;
}

header #mouseScroll {
    width: 50px;
    margin-bottom: 60px;
}

#titleLogo{
    height: 150px;
    max-width: 90%;
}

#titleLegend {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
}

.waveContainer {
    width: 100%;
    height: 100px;
    background-image: url("assets/wave.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position-x: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.splitContainer {
    width: 90%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1fr 2fr;
    margin-top: 110px;
}

.splitContainer img {
    width: calc(100% - 20px);
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 20px 20px rgba(28, 98, 202, .75);
}

.splitContainer .descriptionTitle {
    font-size: 50px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.splitContainer .descriptionDesc {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: justify;
}

.buttonInside {
    display: flex;
    align-items: center;
}

.descButtonBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.descButton {
    height: max-content;
    border-radius: 10px;
    border: 2px solid white;
    background-color: #1c62ca;
    transition: all .3s ease-in-out;
    font-size: 30px;
    font-family: 'Kanit';
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 350px;
}

.descButtonContent {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.descButton:hover {
    background-color: white;
    border: 2px solid #1c62ca;
    color:#1c62ca;
    cursor:pointer;
}

.descButton img {
    width: 70px;
    box-shadow: none;
    transition: all .0s ease-in-out;
}

.descButton:hover img {
    filter: invert(74%) sepia(100%) saturate(1214%) hue-rotate(197deg) brightness(98%) contrast(95%)
}

.descButtonDesc{
    font-size: 3vh;
}


#actus{
    margin-top: 100px;
    background-color: #d9d9d9;
    padding: 20px;
    max-width: 100%;
}

h1{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px; 
}

#actus_container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.actu_frame{
    flex: 1;
    background: white;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    border-radius: 10px;
}

.actu_frame:hover{
    transform: translateY(-10px);
    cursor:pointer;
}

.actu_frame img{
    width: 100%;
    height: auto; 
}

.actu_frame h4{
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

#mot_d_excuse{
    font-size: 30px;
}
